# dependencies - node_modules is ignored by default
pnpm-lock.yaml

# next.js
/.next/
/out/

# production
/build
i18n.js

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# husky
/.husky

# prettier
.prettierignore

# git
.gitignore
.gitkeep

# graphql codegen
src/common/graphql/generated/**

# storybook
public/tailwind.css
public/mockServiceWorker.js